body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167863 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
}
#u167864 {
  position:absolute;
  left:2px;
  top:209px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:133px;
}
#u167865 {
  position:absolute;
  left:342px;
  top:139px;
  width:136px;
  height:133px;
}
#u167866 {
  position:absolute;
  left:2px;
  top:58px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u167867 {
  position:absolute;
  left:316px;
  top:288px;
  width:183px;
  height:71px;
  text-align:center;
}
#u167868 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u167869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167869 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167870 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167871 {
  position:absolute;
  left:277px;
  top:18px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167872 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u167873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167873 {
  position:absolute;
  left:351px;
  top:103px;
  width:113px;
  height:16px;
}
#u167874 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u167875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:2px;
}
#u167875 {
  position:absolute;
  left:0px;
  top:67px;
  width:760px;
  height:1px;
}
#u167876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
