body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u171954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:330px;
}
#u171954 {
  position:absolute;
  left:0px;
  top:101px;
  width:1171px;
  height:330px;
}
#u171955 {
  position:absolute;
  left:2px;
  top:157px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
