body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:339px;
}
#u170933 {
  position:absolute;
  left:23px;
  top:19px;
  width:1038px;
  height:339px;
}
#u170934 {
  position:absolute;
  left:2px;
  top:162px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
