body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167837 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
}
#u167838 {
  position:absolute;
  left:2px;
  top:209px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167839 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167840 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167841 {
  position:absolute;
  left:277px;
  top:18px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167842 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u167843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167843 {
  position:absolute;
  left:305px;
  top:129px;
  width:197px;
  height:16px;
}
#u167844 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u167845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:2px;
}
#u167845 {
  position:absolute;
  left:0px;
  top:67px;
  width:760px;
  height:1px;
}
#u167846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167847 {
  position:absolute;
  left:334px;
  top:182px;
  width:140px;
  height:40px;
}
#u167848 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
