
#u120190 {
  position:absolute;
  left:856px;
  top:171px;
  width:230px;
  height:25px;
}
#u120190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u120191 {
  position:absolute;
  left:150px;
  top:124px;
  width:230px;
  height:25px;
}
#u120191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u120192 {
  position:absolute;
  left:150px;
  top:171px;
  width:230px;
  height:25px;
}
#u120192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u120193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u120193 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  height:16px;
  color:#000000;
}
#u120194 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u120195 {
  position:absolute;
  left:150px;
  top:0px;
  width:230px;
  height:25px;
}
#u120195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120196 {
  position:absolute;
  left:702px;
  top:1087px;
  visibility:hidden;
}
#u120196_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u120196_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120198 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:141px;
}
#u120199 {
  position:absolute;
  left:2px;
  top:62px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u120200 {
  position:absolute;
  left:0px;
  top:41px;
  width:350px;
  height:1px;
}
#u120201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u120202 {
  position:absolute;
  left:19px;
  top:11px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u120203 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u120204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u120204 {
  position:absolute;
  left:327px;
  top:11px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u120205 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u120206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u120206 {
  position:absolute;
  left:27px;
  top:59px;
  width:289px;
  height:19px;
  font-size:16px;
}
#u120207 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u120208 {
  position:absolute;
  left:59px;
  top:101px;
  width:103px;
  height:25px;
}
#u120208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u120209 {
  position:absolute;
  left:185px;
  top:101px;
  width:103px;
  height:25px;
}
#u120209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u120210 {
  position:absolute;
  left:702px;
  top:1087px;
  visibility:hidden;
}
#u120210_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u120210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120212 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
}
#u120213 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u120214 {
  position:absolute;
  left:0px;
  top:41px;
  width:350px;
  height:1px;
}
#u120215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u120216 {
  position:absolute;
  left:19px;
  top:11px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u120217 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u120218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u120218 {
  position:absolute;
  left:327px;
  top:11px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u120219 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u120220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u120220 {
  position:absolute;
  left:27px;
  top:62px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u120221 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u120222 {
  position:absolute;
  left:59px;
  top:104px;
  width:103px;
  height:25px;
}
#u120222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u120223 {
  position:absolute;
  left:185px;
  top:104px;
  width:103px;
  height:25px;
}
#u120223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u120224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u120224 {
  position:absolute;
  left:1097px;
  top:425px;
  width:71px;
  height:16px;
  color:#000000;
}
#u120225 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u120226 {
  position:absolute;
  left:1219px;
  top:421px;
  width:230px;
  height:25px;
}
#u120226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u120227 {
  position:absolute;
  left:1097px;
  top:395px;
  width:71px;
  height:16px;
  color:#000000;
}
#u120228 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u120229 {
  position:absolute;
  left:1219px;
  top:391px;
  width:230px;
  height:25px;
}
#u120229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120230 {
  position:absolute;
  left:360px;
  top:396px;
  width:83px;
  height:16px;
}
#u120231 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u120232 {
  position:absolute;
  left:513px;
  top:390px;
  width:230px;
  height:25px;
}
#u120232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120233 {
  position:absolute;
  left:360px;
  top:427px;
  width:125px;
  height:16px;
}
#u120234 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u120235 {
  position:absolute;
  left:512px;
  top:423px;
  width:230px;
  height:22px;
}
#u120235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u120235_input:disabled {
  color:grayText;
}
#u120236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u120236 {
  position:absolute;
  left:360px;
  top:277px;
  width:71px;
  height:16px;
  color:#000000;
}
#u120237 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u120238 {
  position:absolute;
  left:510px;
  top:273px;
  width:230px;
  height:25px;
}
#u120238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120239 {
  position:absolute;
  left:1097px;
  top:366px;
  width:83px;
  height:16px;
}
#u120240 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u120241 {
  position:absolute;
  left:1220px;
  top:363px;
  width:230px;
  height:22px;
}
#u120241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u120241_input:disabled {
  color:grayText;
}
#u120242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120242 {
  position:absolute;
  left:360px;
  top:364px;
  width:83px;
  height:16px;
}
#u120243 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u120244 {
  position:absolute;
  left:512px;
  top:361px;
  width:230px;
  height:22px;
}
#u120244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u120244_input:disabled {
  color:grayText;
}
#u120245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120245 {
  position:absolute;
  left:360px;
  top:332px;
  width:83px;
  height:16px;
}
#u120246 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u120247 {
  position:absolute;
  left:511px;
  top:332px;
  width:230px;
  height:22px;
}
#u120247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u120247_input:disabled {
  color:grayText;
}
#u120248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120248 {
  position:absolute;
  left:1097px;
  top:302px;
  width:83px;
  height:16px;
}
#u120249 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u120250 {
  position:absolute;
  left:1220px;
  top:301px;
  width:230px;
  height:22px;
}
#u120250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u120250_input:disabled {
  color:grayText;
}
#u120251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u120251 {
  position:absolute;
  left:1097px;
  top:333px;
  width:85px;
  height:16px;
  color:#000000;
}
#u120252 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u120253 {
  position:absolute;
  left:1220px;
  top:328px;
  width:230px;
  height:25px;
}
#u120253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u120254 {
  position:absolute;
  left:1463px;
  top:344px;
  width:359px;
  height:16px;
  color:#FF0000;
}
#u120255 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u120256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120256 {
  position:absolute;
  left:1098px;
  top:272px;
  width:83px;
  height:16px;
}
#u120257 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u120258 {
  position:absolute;
  left:1220px;
  top:269px;
  width:230px;
  height:25px;
}
#u120258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u120259 {
  position:absolute;
  left:361px;
  top:306px;
  width:71px;
  height:16px;
  color:#000000;
}
#u120260 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u120261 {
  position:absolute;
  left:511px;
  top:302px;
  width:230px;
  height:25px;
}
#u120261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u120262 {
  position:absolute;
  left:1854px;
  top:262px;
  width:1px;
  height:200px;
}
#u120263 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120264 {
  position:absolute;
  left:0px;
  top:83px;
  width:276px;
  height:771px;
}
#u120265 {
  position:absolute;
  left:2px;
  top:378px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120266 {
  position:absolute;
  left:7px;
  top:89px;
  width:259px;
  height:725px;
}
#u120266_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120267 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  font-size:20px;
}
#u120268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120268 {
  position:absolute;
  left:22px;
  top:0px;
  width:46px;
  height:20px;
}
#u120269 {
  position:absolute;
  left:3px;
  top:-2px;
  width:41px;
  white-space:nowrap;
}
#u120270 {
  position:absolute;
  left:0px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
  color:#0000FF;
}
#u120271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u120271 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u120271_img.selected {
}
#u120271.selected {
}
#u120272 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120273 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u120274 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u120270_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120275 {
  position:absolute;
  left:20px;
  top:20px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#1E1E1E;
}
#u120276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120276 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120277 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120278 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120279 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120280 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120281 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120282 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120283 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120284 {
  position:absolute;
  left:20px;
  top:80px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120285 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120286 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120287 {
  position:absolute;
  left:20px;
  top:100px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120288 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120289 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120290 {
  position:absolute;
  left:20px;
  top:120px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120291 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120292 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120293 {
  position:absolute;
  left:20px;
  top:140px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120294 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120295 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120296 {
  position:absolute;
  left:20px;
  top:160px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120297 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120298 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120299 {
  position:absolute;
  left:20px;
  top:180px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#0000FF;
}
#u120300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120300 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120301 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120302 {
  position:absolute;
  left:20px;
  top:200px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120303 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120304 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120305 {
  position:absolute;
  left:20px;
  top:220px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120306 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120307 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120308 {
  position:absolute;
  left:20px;
  top:240px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120309 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120310 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120311 {
  position:absolute;
  left:20px;
  top:260px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120312 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120313 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120314 {
  position:absolute;
  left:20px;
  top:280px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120315 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120316 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120317 {
  position:absolute;
  left:20px;
  top:300px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120318 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120319 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120320 {
  position:absolute;
  left:20px;
  top:320px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120321 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120322 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120323 {
  position:absolute;
  left:20px;
  top:340px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120324 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120325 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120326 {
  position:absolute;
  left:20px;
  top:360px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120327 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120328 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120329 {
  position:absolute;
  left:20px;
  top:380px;
  width:234px;
  height:20px;
  font-size:20px;
}
#u120330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120330 {
  position:absolute;
  left:22px;
  top:0px;
  width:212px;
  height:20px;
}
#u120331 {
  position:absolute;
  left:3px;
  top:-2px;
  width:207px;
  white-space:nowrap;
}
#u120332 {
  position:absolute;
  left:20px;
  top:400px;
  width:174px;
  height:20px;
  font-size:20px;
}
#u120333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120333 {
  position:absolute;
  left:22px;
  top:0px;
  width:152px;
  height:20px;
}
#u120334 {
  position:absolute;
  left:3px;
  top:-2px;
  width:147px;
  white-space:nowrap;
}
#u120335 {
  position:absolute;
  left:20px;
  top:420px;
  width:95px;
  height:20px;
  font-size:20px;
}
#u120336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120336 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120337 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120338 {
  position:absolute;
  left:0px;
  top:460px;
  width:108px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u120339 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u120339_img.selected {
}
#u120339.selected {
}
#u120340 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120341 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u120342 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u120338_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120343 {
  position:absolute;
  left:20px;
  top:20px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u120344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120344 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120345 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120346 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120347 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120348 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120349 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120350 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120351 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120352 {
  position:absolute;
  left:20px;
  top:80px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120353 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120354 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120355 {
  position:absolute;
  left:0px;
  top:560px;
  width:168px;
  height:20px;
  font-size:20px;
}
#u120356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u120356 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u120356_img.selected {
}
#u120356.selected {
}
#u120357 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120358 {
  position:absolute;
  left:22px;
  top:0px;
  width:146px;
  height:20px;
}
#u120359 {
  position:absolute;
  left:3px;
  top:-2px;
  width:141px;
  white-space:nowrap;
}
#u120355_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120360 {
  position:absolute;
  left:20px;
  top:20px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120361 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120362 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120363 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120364 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120365 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120366 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u120367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120367 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u120368 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u120369 {
  position:absolute;
  left:20px;
  top:80px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120370 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120371 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120372 {
  position:absolute;
  left:20px;
  top:100px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120373 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120374 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120375 {
  position:absolute;
  left:20px;
  top:120px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u120376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120376 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u120377 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u120378 {
  position:absolute;
  left:0px;
  top:700px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u120379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120379 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u120380 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
