
#u122422 {
  position:absolute;
  left:856px;
  top:171px;
  width:230px;
  height:25px;
}
#u122422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u122423 {
  position:absolute;
  left:150px;
  top:124px;
  width:230px;
  height:25px;
}
#u122423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u122424 {
  position:absolute;
  left:150px;
  top:171px;
  width:230px;
  height:25px;
}
#u122424_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u122425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u122425 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  height:16px;
  color:#000000;
}
#u122426 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u122427 {
  position:absolute;
  left:150px;
  top:0px;
  width:230px;
  height:25px;
}
#u122427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122428 {
  position:absolute;
  left:702px;
  top:1087px;
  visibility:hidden;
}
#u122428_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u122428_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122430 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:141px;
}
#u122431 {
  position:absolute;
  left:2px;
  top:62px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u122432 {
  position:absolute;
  left:0px;
  top:41px;
  width:350px;
  height:1px;
}
#u122433 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u122434 {
  position:absolute;
  left:19px;
  top:11px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u122435 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u122436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u122436 {
  position:absolute;
  left:327px;
  top:11px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u122437 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u122438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u122438 {
  position:absolute;
  left:27px;
  top:59px;
  width:289px;
  height:19px;
  font-size:16px;
}
#u122439 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u122440 {
  position:absolute;
  left:59px;
  top:101px;
  width:103px;
  height:25px;
}
#u122440_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u122441 {
  position:absolute;
  left:185px;
  top:101px;
  width:103px;
  height:25px;
}
#u122441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u122442 {
  position:absolute;
  left:702px;
  top:1087px;
  visibility:hidden;
}
#u122442_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u122442_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122444 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
}
#u122445 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u122446 {
  position:absolute;
  left:0px;
  top:41px;
  width:350px;
  height:1px;
}
#u122447 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u122448 {
  position:absolute;
  left:19px;
  top:11px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u122449 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u122450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u122450 {
  position:absolute;
  left:327px;
  top:11px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u122451 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u122452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u122452 {
  position:absolute;
  left:27px;
  top:62px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u122453 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u122454 {
  position:absolute;
  left:59px;
  top:104px;
  width:103px;
  height:25px;
}
#u122454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u122455 {
  position:absolute;
  left:185px;
  top:104px;
  width:103px;
  height:25px;
}
#u122455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u122456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u122456 {
  position:absolute;
  left:1097px;
  top:425px;
  width:71px;
  height:16px;
  color:#000000;
}
#u122457 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u122458 {
  position:absolute;
  left:1219px;
  top:421px;
  width:230px;
  height:25px;
}
#u122458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u122459 {
  position:absolute;
  left:1097px;
  top:395px;
  width:71px;
  height:16px;
  color:#000000;
}
#u122460 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u122461 {
  position:absolute;
  left:1219px;
  top:391px;
  width:230px;
  height:25px;
}
#u122461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122462 {
  position:absolute;
  left:360px;
  top:396px;
  width:83px;
  height:16px;
}
#u122463 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u122464 {
  position:absolute;
  left:513px;
  top:390px;
  width:230px;
  height:25px;
}
#u122464_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122465 {
  position:absolute;
  left:360px;
  top:427px;
  width:125px;
  height:16px;
}
#u122466 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u122467 {
  position:absolute;
  left:512px;
  top:423px;
  width:230px;
  height:22px;
}
#u122467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122467_input:disabled {
  color:grayText;
}
#u122468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u122468 {
  position:absolute;
  left:360px;
  top:277px;
  width:71px;
  height:16px;
  color:#000000;
}
#u122469 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u122470 {
  position:absolute;
  left:510px;
  top:273px;
  width:230px;
  height:25px;
}
#u122470_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122471 {
  position:absolute;
  left:1097px;
  top:366px;
  width:83px;
  height:16px;
}
#u122472 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u122473 {
  position:absolute;
  left:1220px;
  top:363px;
  width:230px;
  height:22px;
}
#u122473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122473_input:disabled {
  color:grayText;
}
#u122474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122474 {
  position:absolute;
  left:360px;
  top:364px;
  width:83px;
  height:16px;
}
#u122475 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u122476 {
  position:absolute;
  left:512px;
  top:361px;
  width:230px;
  height:22px;
}
#u122476_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122476_input:disabled {
  color:grayText;
}
#u122477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122477 {
  position:absolute;
  left:360px;
  top:332px;
  width:83px;
  height:16px;
}
#u122478 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u122479 {
  position:absolute;
  left:511px;
  top:332px;
  width:230px;
  height:22px;
}
#u122479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122479_input:disabled {
  color:grayText;
}
#u122480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122480 {
  position:absolute;
  left:1097px;
  top:302px;
  width:83px;
  height:16px;
}
#u122481 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u122482 {
  position:absolute;
  left:1220px;
  top:301px;
  width:230px;
  height:22px;
}
#u122482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122482_input:disabled {
  color:grayText;
}
#u122483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u122483 {
  position:absolute;
  left:1097px;
  top:333px;
  width:85px;
  height:16px;
  color:#000000;
}
#u122484 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u122485 {
  position:absolute;
  left:1220px;
  top:328px;
  width:230px;
  height:25px;
}
#u122485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u122486 {
  position:absolute;
  left:1463px;
  top:344px;
  width:359px;
  height:16px;
  color:#FF0000;
}
#u122487 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u122488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122488 {
  position:absolute;
  left:1098px;
  top:272px;
  width:83px;
  height:16px;
}
#u122489 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u122490 {
  position:absolute;
  left:1220px;
  top:269px;
  width:230px;
  height:25px;
}
#u122490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u122491 {
  position:absolute;
  left:361px;
  top:306px;
  width:71px;
  height:16px;
  color:#000000;
}
#u122492 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u122493 {
  position:absolute;
  left:511px;
  top:302px;
  width:230px;
  height:25px;
}
#u122493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u122494 {
  position:absolute;
  left:1854px;
  top:262px;
  width:1px;
  height:200px;
}
#u122495 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122496 {
  position:absolute;
  left:0px;
  top:83px;
  width:276px;
  height:771px;
}
#u122497 {
  position:absolute;
  left:2px;
  top:378px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122498 {
  position:absolute;
  left:7px;
  top:89px;
  width:259px;
  height:725px;
}
#u122498_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122499 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  font-size:20px;
}
#u122500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122500 {
  position:absolute;
  left:22px;
  top:0px;
  width:46px;
  height:20px;
}
#u122501 {
  position:absolute;
  left:3px;
  top:-2px;
  width:41px;
  white-space:nowrap;
}
#u122502 {
  position:absolute;
  left:0px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
  color:#0000FF;
}
#u122503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u122503 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u122503_img.selected {
}
#u122503.selected {
}
#u122504 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122505 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u122506 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u122502_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122507 {
  position:absolute;
  left:20px;
  top:20px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#1E1E1E;
}
#u122508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122508 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122509 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122510 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122511 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122512 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122513 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122514 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122515 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122516 {
  position:absolute;
  left:20px;
  top:80px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122517 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122518 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122519 {
  position:absolute;
  left:20px;
  top:100px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122520 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122521 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122522 {
  position:absolute;
  left:20px;
  top:120px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122523 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122524 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122525 {
  position:absolute;
  left:20px;
  top:140px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122526 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122527 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122528 {
  position:absolute;
  left:20px;
  top:160px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122529 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122530 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122531 {
  position:absolute;
  left:20px;
  top:180px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#0000FF;
}
#u122532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122532 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122533 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122534 {
  position:absolute;
  left:20px;
  top:200px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122535 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122536 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122537 {
  position:absolute;
  left:20px;
  top:220px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122538 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122539 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122540 {
  position:absolute;
  left:20px;
  top:240px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122541 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122542 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122543 {
  position:absolute;
  left:20px;
  top:260px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122544 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122545 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122546 {
  position:absolute;
  left:20px;
  top:280px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122547 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122548 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122549 {
  position:absolute;
  left:20px;
  top:300px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122550 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122551 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122552 {
  position:absolute;
  left:20px;
  top:320px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122553 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122554 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122555 {
  position:absolute;
  left:20px;
  top:340px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122556 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122557 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122558 {
  position:absolute;
  left:20px;
  top:360px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122559 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122560 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122561 {
  position:absolute;
  left:20px;
  top:380px;
  width:234px;
  height:20px;
  font-size:20px;
}
#u122562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122562 {
  position:absolute;
  left:22px;
  top:0px;
  width:212px;
  height:20px;
}
#u122563 {
  position:absolute;
  left:3px;
  top:-2px;
  width:207px;
  white-space:nowrap;
}
#u122564 {
  position:absolute;
  left:20px;
  top:400px;
  width:174px;
  height:20px;
  font-size:20px;
}
#u122565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122565 {
  position:absolute;
  left:22px;
  top:0px;
  width:152px;
  height:20px;
}
#u122566 {
  position:absolute;
  left:3px;
  top:-2px;
  width:147px;
  white-space:nowrap;
}
#u122567 {
  position:absolute;
  left:20px;
  top:420px;
  width:95px;
  height:20px;
  font-size:20px;
}
#u122568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122568 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122569 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122570 {
  position:absolute;
  left:0px;
  top:460px;
  width:108px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u122571 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u122571_img.selected {
}
#u122571.selected {
}
#u122572 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122573 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u122574 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u122570_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122575 {
  position:absolute;
  left:20px;
  top:20px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u122576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122576 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122577 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122578 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122579 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122580 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122581 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122582 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122583 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122584 {
  position:absolute;
  left:20px;
  top:80px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122585 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122586 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122587 {
  position:absolute;
  left:0px;
  top:560px;
  width:168px;
  height:20px;
  font-size:20px;
}
#u122588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u122588 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u122588_img.selected {
}
#u122588.selected {
}
#u122589 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122590 {
  position:absolute;
  left:22px;
  top:0px;
  width:146px;
  height:20px;
}
#u122591 {
  position:absolute;
  left:3px;
  top:-2px;
  width:141px;
  white-space:nowrap;
}
#u122587_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122592 {
  position:absolute;
  left:20px;
  top:20px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122593 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122594 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122595 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122596 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122597 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122598 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u122599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122599 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u122600 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u122601 {
  position:absolute;
  left:20px;
  top:80px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122602 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122603 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122604 {
  position:absolute;
  left:20px;
  top:100px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122605 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122606 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122607 {
  position:absolute;
  left:20px;
  top:120px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u122608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122608 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u122609 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u122610 {
  position:absolute;
  left:0px;
  top:700px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u122611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122611 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u122612 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
