
#u121211 {
  position:absolute;
  left:856px;
  top:171px;
  width:230px;
  height:25px;
}
#u121211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u121212 {
  position:absolute;
  left:150px;
  top:124px;
  width:230px;
  height:25px;
}
#u121212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u121213 {
  position:absolute;
  left:150px;
  top:171px;
  width:230px;
  height:25px;
}
#u121213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u121214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u121214 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  height:16px;
  color:#000000;
}
#u121215 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u121216 {
  position:absolute;
  left:150px;
  top:0px;
  width:230px;
  height:25px;
}
#u121216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121217 {
  position:absolute;
  left:702px;
  top:1087px;
  visibility:hidden;
}
#u121217_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u121217_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121219 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:141px;
}
#u121220 {
  position:absolute;
  left:2px;
  top:62px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u121221 {
  position:absolute;
  left:0px;
  top:41px;
  width:350px;
  height:1px;
}
#u121222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121223 {
  position:absolute;
  left:19px;
  top:11px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u121224 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u121225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121225 {
  position:absolute;
  left:327px;
  top:11px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u121226 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u121227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u121227 {
  position:absolute;
  left:27px;
  top:59px;
  width:289px;
  height:19px;
  font-size:16px;
}
#u121228 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u121229 {
  position:absolute;
  left:59px;
  top:101px;
  width:103px;
  height:25px;
}
#u121229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u121230 {
  position:absolute;
  left:185px;
  top:101px;
  width:103px;
  height:25px;
}
#u121230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u121231 {
  position:absolute;
  left:702px;
  top:1087px;
  visibility:hidden;
}
#u121231_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u121231_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121233 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
}
#u121234 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u121235 {
  position:absolute;
  left:0px;
  top:41px;
  width:350px;
  height:1px;
}
#u121236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121237 {
  position:absolute;
  left:19px;
  top:11px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u121238 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u121239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121239 {
  position:absolute;
  left:327px;
  top:11px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u121240 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u121241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u121241 {
  position:absolute;
  left:27px;
  top:62px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u121242 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u121243 {
  position:absolute;
  left:59px;
  top:104px;
  width:103px;
  height:25px;
}
#u121243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u121244 {
  position:absolute;
  left:185px;
  top:104px;
  width:103px;
  height:25px;
}
#u121244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u121245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u121245 {
  position:absolute;
  left:1097px;
  top:425px;
  width:71px;
  height:16px;
  color:#000000;
}
#u121246 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u121247 {
  position:absolute;
  left:1219px;
  top:421px;
  width:230px;
  height:25px;
}
#u121247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u121248 {
  position:absolute;
  left:1097px;
  top:395px;
  width:71px;
  height:16px;
  color:#000000;
}
#u121249 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u121250 {
  position:absolute;
  left:1219px;
  top:391px;
  width:230px;
  height:25px;
}
#u121250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121251 {
  position:absolute;
  left:360px;
  top:396px;
  width:83px;
  height:16px;
}
#u121252 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121253 {
  position:absolute;
  left:513px;
  top:390px;
  width:230px;
  height:25px;
}
#u121253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121254 {
  position:absolute;
  left:360px;
  top:427px;
  width:125px;
  height:16px;
}
#u121255 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u121256 {
  position:absolute;
  left:512px;
  top:423px;
  width:230px;
  height:22px;
}
#u121256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121256_input:disabled {
  color:grayText;
}
#u121257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u121257 {
  position:absolute;
  left:360px;
  top:277px;
  width:71px;
  height:16px;
  color:#000000;
}
#u121258 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u121259 {
  position:absolute;
  left:510px;
  top:273px;
  width:230px;
  height:25px;
}
#u121259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121260 {
  position:absolute;
  left:1097px;
  top:366px;
  width:83px;
  height:16px;
}
#u121261 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121262 {
  position:absolute;
  left:1220px;
  top:363px;
  width:230px;
  height:22px;
}
#u121262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121262_input:disabled {
  color:grayText;
}
#u121263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121263 {
  position:absolute;
  left:360px;
  top:364px;
  width:83px;
  height:16px;
}
#u121264 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121265 {
  position:absolute;
  left:512px;
  top:361px;
  width:230px;
  height:22px;
}
#u121265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121265_input:disabled {
  color:grayText;
}
#u121266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121266 {
  position:absolute;
  left:360px;
  top:332px;
  width:83px;
  height:16px;
}
#u121267 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121268 {
  position:absolute;
  left:511px;
  top:332px;
  width:230px;
  height:22px;
}
#u121268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121268_input:disabled {
  color:grayText;
}
#u121269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121269 {
  position:absolute;
  left:1097px;
  top:302px;
  width:83px;
  height:16px;
}
#u121270 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121271 {
  position:absolute;
  left:1220px;
  top:301px;
  width:230px;
  height:22px;
}
#u121271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121271_input:disabled {
  color:grayText;
}
#u121272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u121272 {
  position:absolute;
  left:1097px;
  top:333px;
  width:85px;
  height:16px;
  color:#000000;
}
#u121273 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u121274 {
  position:absolute;
  left:1220px;
  top:328px;
  width:230px;
  height:25px;
}
#u121274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u121275 {
  position:absolute;
  left:1463px;
  top:344px;
  width:359px;
  height:16px;
  color:#FF0000;
}
#u121276 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u121277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121277 {
  position:absolute;
  left:1098px;
  top:272px;
  width:83px;
  height:16px;
}
#u121278 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121279 {
  position:absolute;
  left:1220px;
  top:269px;
  width:230px;
  height:25px;
}
#u121279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u121280 {
  position:absolute;
  left:361px;
  top:306px;
  width:71px;
  height:16px;
  color:#000000;
}
#u121281 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u121282 {
  position:absolute;
  left:511px;
  top:302px;
  width:230px;
  height:25px;
}
#u121282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u121283 {
  position:absolute;
  left:1854px;
  top:262px;
  width:1px;
  height:200px;
}
#u121284 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121285 {
  position:absolute;
  left:0px;
  top:83px;
  width:276px;
  height:771px;
}
#u121286 {
  position:absolute;
  left:2px;
  top:378px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121287 {
  position:absolute;
  left:7px;
  top:89px;
  width:259px;
  height:725px;
}
#u121287_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121288 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  font-size:20px;
}
#u121289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121289 {
  position:absolute;
  left:22px;
  top:0px;
  width:46px;
  height:20px;
}
#u121290 {
  position:absolute;
  left:3px;
  top:-2px;
  width:41px;
  white-space:nowrap;
}
#u121291 {
  position:absolute;
  left:0px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
  color:#0000FF;
}
#u121292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u121292 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u121292_img.selected {
}
#u121292.selected {
}
#u121293 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121294 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u121295 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u121291_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121296 {
  position:absolute;
  left:20px;
  top:20px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#1E1E1E;
}
#u121297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121297 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121298 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121299 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121300 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121301 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121302 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121303 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121304 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121305 {
  position:absolute;
  left:20px;
  top:80px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121306 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121307 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121308 {
  position:absolute;
  left:20px;
  top:100px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121309 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121310 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121311 {
  position:absolute;
  left:20px;
  top:120px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121312 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121313 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121314 {
  position:absolute;
  left:20px;
  top:140px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121315 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121316 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121317 {
  position:absolute;
  left:20px;
  top:160px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121318 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121319 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121320 {
  position:absolute;
  left:20px;
  top:180px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#0000FF;
}
#u121321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121321 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121322 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121323 {
  position:absolute;
  left:20px;
  top:200px;
  width:188px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121324 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121325 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121326 {
  position:absolute;
  left:20px;
  top:220px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121327 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121328 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121329 {
  position:absolute;
  left:20px;
  top:240px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121330 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121331 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121332 {
  position:absolute;
  left:20px;
  top:260px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121333 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121334 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121335 {
  position:absolute;
  left:20px;
  top:280px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121336 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121337 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121338 {
  position:absolute;
  left:20px;
  top:300px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121339 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121340 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121341 {
  position:absolute;
  left:20px;
  top:320px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121342 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121343 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121344 {
  position:absolute;
  left:20px;
  top:340px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121345 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121346 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121347 {
  position:absolute;
  left:20px;
  top:360px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121348 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121349 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121350 {
  position:absolute;
  left:20px;
  top:380px;
  width:234px;
  height:20px;
  font-size:20px;
}
#u121351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121351 {
  position:absolute;
  left:22px;
  top:0px;
  width:212px;
  height:20px;
}
#u121352 {
  position:absolute;
  left:3px;
  top:-2px;
  width:207px;
  white-space:nowrap;
}
#u121353 {
  position:absolute;
  left:20px;
  top:400px;
  width:174px;
  height:20px;
  font-size:20px;
}
#u121354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121354 {
  position:absolute;
  left:22px;
  top:0px;
  width:152px;
  height:20px;
}
#u121355 {
  position:absolute;
  left:3px;
  top:-2px;
  width:147px;
  white-space:nowrap;
}
#u121356 {
  position:absolute;
  left:20px;
  top:420px;
  width:95px;
  height:20px;
  font-size:20px;
}
#u121357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121357 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121358 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121359 {
  position:absolute;
  left:0px;
  top:460px;
  width:108px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u121360 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u121360_img.selected {
}
#u121360.selected {
}
#u121361 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121362 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u121363 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u121359_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121364 {
  position:absolute;
  left:20px;
  top:20px;
  width:228px;
  height:20px;
  font-size:20px;
  color:#000000;
}
#u121365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121365 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121366 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121367 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121368 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121369 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121370 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121371 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121372 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121373 {
  position:absolute;
  left:20px;
  top:80px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121374 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121375 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121376 {
  position:absolute;
  left:0px;
  top:560px;
  width:168px;
  height:20px;
  font-size:20px;
}
#u121377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u121377 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u121377_img.selected {
}
#u121377.selected {
}
#u121378 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121379 {
  position:absolute;
  left:22px;
  top:0px;
  width:146px;
  height:20px;
}
#u121380 {
  position:absolute;
  left:3px;
  top:-2px;
  width:141px;
  white-space:nowrap;
}
#u121376_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121381 {
  position:absolute;
  left:20px;
  top:20px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121382 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121383 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121384 {
  position:absolute;
  left:20px;
  top:40px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121385 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121386 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121387 {
  position:absolute;
  left:20px;
  top:60px;
  width:228px;
  height:20px;
  font-size:20px;
}
#u121388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121388 {
  position:absolute;
  left:22px;
  top:0px;
  width:206px;
  height:20px;
}
#u121389 {
  position:absolute;
  left:3px;
  top:-2px;
  width:201px;
  white-space:nowrap;
}
#u121390 {
  position:absolute;
  left:20px;
  top:80px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121391 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121392 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121393 {
  position:absolute;
  left:20px;
  top:100px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121394 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121395 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121396 {
  position:absolute;
  left:20px;
  top:120px;
  width:188px;
  height:20px;
  font-size:20px;
}
#u121397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121397 {
  position:absolute;
  left:22px;
  top:0px;
  width:166px;
  height:20px;
}
#u121398 {
  position:absolute;
  left:3px;
  top:-2px;
  width:161px;
  white-space:nowrap;
}
#u121399 {
  position:absolute;
  left:0px;
  top:700px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u121400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121400 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u121401 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
