body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:816px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:1100px;
}
#u167931 {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:1100px;
}
#u167932 {
  position:absolute;
  left:2px;
  top:542px;
  width:812px;
  visibility:hidden;
  word-wrap:break-word;
}
