body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:670px;
}
#u167887 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:670px;
}
#u167888 {
  position:absolute;
  left:2px;
  top:327px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
