body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167841 {
  position:absolute;
  left:20px;
  top:0px;
  width:1120px;
  height:591px;
}
#u167842 {
  position:absolute;
  left:2px;
  top:288px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167843 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167844 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167845 {
  position:absolute;
  left:331px;
  top:18px;
  width:281px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167846 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u167847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167847 {
  position:absolute;
  left:115px;
  top:197px;
  width:437px;
  height:33px;
}
#u167848 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  white-space:nowrap;
}
#u167849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167849 {
  position:absolute;
  left:575px;
  top:190px;
  width:140px;
  height:40px;
}
#u167850 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
