body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165161 {
  position:absolute;
  left:333px;
  top:125px;
  width:306px;
  height:120px;
}
#u165162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u165162 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u165163 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u165164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u165164 {
  position:absolute;
  left:0px;
  top:20px;
  width:301px;
  height:20px;
}
#u165165 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u165166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u165166 {
  position:absolute;
  left:0px;
  top:40px;
  width:301px;
  height:20px;
}
#u165167 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u165168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:55px;
}
#u165168 {
  position:absolute;
  left:0px;
  top:60px;
  width:301px;
  height:55px;
}
#u165169 {
  position:absolute;
  left:2px;
  top:20px;
  width:297px;
  word-wrap:break-word;
}
