body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166930 {
  position:absolute;
  left:333px;
  top:125px;
  width:306px;
  height:120px;
}
#u166931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u166931 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u166932 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u166933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u166933 {
  position:absolute;
  left:0px;
  top:20px;
  width:301px;
  height:20px;
}
#u166934 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u166935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u166935 {
  position:absolute;
  left:0px;
  top:40px;
  width:301px;
  height:20px;
}
#u166936 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u166937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:55px;
}
#u166937 {
  position:absolute;
  left:0px;
  top:60px;
  width:301px;
  height:55px;
}
#u166938 {
  position:absolute;
  left:2px;
  top:20px;
  width:297px;
  word-wrap:break-word;
}
