body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u162840 {
  position:absolute;
  left:333px;
  top:125px;
  width:306px;
  height:120px;
}
#u162841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u162841 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u162842 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u162843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u162843 {
  position:absolute;
  left:0px;
  top:20px;
  width:301px;
  height:20px;
}
#u162844 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u162845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u162845 {
  position:absolute;
  left:0px;
  top:40px;
  width:301px;
  height:20px;
}
#u162846 {
  position:absolute;
  left:2px;
  top:2px;
  width:297px;
  word-wrap:break-word;
}
#u162847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:55px;
}
#u162847 {
  position:absolute;
  left:0px;
  top:60px;
  width:301px;
  height:55px;
}
#u162848 {
  position:absolute;
  left:2px;
  top:20px;
  width:297px;
  word-wrap:break-word;
}
