body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167897 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
}
#u167898 {
  position:absolute;
  left:2px;
  top:209px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167899 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167900 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167901 {
  position:absolute;
  left:277px;
  top:18px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167902 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u167903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:2px;
}
#u167903 {
  position:absolute;
  left:0px;
  top:67px;
  width:760px;
  height:1px;
}
#u167904 {
  position:absolute;
  left:2px;
  top:-8px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:133px;
}
#u167905 {
  position:absolute;
  left:359px;
  top:139px;
  width:131px;
  height:133px;
}
#u167906 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167907 {
  position:absolute;
  left:372px;
  top:103px;
  width:99px;
  height:16px;
}
#u167908 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u167909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u167909 {
  position:absolute;
  left:332px;
  top:288px;
  width:183px;
  height:71px;
  text-align:center;
}
#u167910 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
