body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u171356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171356 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
}
#u171357 {
  position:absolute;
  left:2px;
  top:209px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u171358 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u171359 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u171360 {
  position:absolute;
  left:277px;
  top:18px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u171361 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u171362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:2px;
}
#u171362 {
  position:absolute;
  left:0px;
  top:67px;
  width:760px;
  height:1px;
}
#u171363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:133px;
}
#u171364 {
  position:absolute;
  left:352px;
  top:139px;
  width:131px;
  height:133px;
}
#u171365 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171366 {
  position:absolute;
  left:365px;
  top:103px;
  width:99px;
  height:16px;
}
#u171367 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u171368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u171368 {
  position:absolute;
  left:325px;
  top:288px;
  width:183px;
  height:71px;
  text-align:center;
}
#u171369 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
