body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u174548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:854px;
}
#u174548 {
  position:absolute;
  left:0px;
  top:15px;
  width:1911px;
  height:854px;
}
#u174549 {
  position:absolute;
  left:2px;
  top:419px;
  width:1907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174550 {
  position:absolute;
  left:1692px;
  top:792px;
  width:200px;
  height:57px;
}
#u174551 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u174552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u174552 {
  position:absolute;
  left:1137px;
  top:885px;
  width:506px;
  height:32px;
  color:#FF0000;
}
#u174553 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u174554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:32px;
}
#u174554 {
  position:absolute;
  left:1358px;
  top:750px;
  width:276px;
  height:32px;
}
#u174555 {
  position:absolute;
  left:2px;
  top:8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:204px;
}
#u174556 {
  position:absolute;
  left:9px;
  top:82px;
  width:528px;
  height:204px;
}
#u174557 {
  position:absolute;
  left:2px;
  top:94px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:32px;
}
#u174558 {
  position:absolute;
  left:1480px;
  top:750px;
  width:423px;
  height:32px;
}
#u174559 {
  position:absolute;
  left:2px;
  top:8px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
