body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1897px;
  height:995px;
}
#u170931 {
  position:absolute;
  left:0px;
  top:-56px;
  width:1897px;
  height:995px;
}
#u170932 {
  position:absolute;
  left:2px;
  top:490px;
  width:1893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u170933 {
  position:absolute;
  left:190px;
  top:228px;
  width:56px;
  height:19px;
  font-size:12px;
  color:#0000FF;
}
#u170934 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u170935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170935 {
  position:absolute;
  left:191px;
  top:298px;
  width:49px;
  height:13px;
}
#u170936 {
  position:absolute;
  left:2px;
  top:-2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u170937 {
  position:absolute;
  left:191px;
  top:298px;
  width:56px;
  height:19px;
  font-size:12px;
  color:#0000FF;
}
#u170938 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u170939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170939 {
  position:absolute;
  left:191px;
  top:433px;
  width:49px;
  height:13px;
}
#u170940 {
  position:absolute;
  left:2px;
  top:-2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170941 {
  position:absolute;
  left:191px;
  top:569px;
  width:49px;
  height:13px;
}
#u170942 {
  position:absolute;
  left:2px;
  top:-2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
