body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u167847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167847 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:434px;
}
#u167848 {
  position:absolute;
  left:2px;
  top:209px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:133px;
}
#u167849 {
  position:absolute;
  left:243px;
  top:139px;
  width:136px;
  height:133px;
}
#u167850 {
  position:absolute;
  left:2px;
  top:58px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u167851 {
  position:absolute;
  left:217px;
  top:288px;
  width:183px;
  height:71px;
  text-align:center;
}
#u167852 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u167853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167853 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u167854 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167855 {
  position:absolute;
  left:277px;
  top:18px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u167856 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u167857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167857 {
  position:absolute;
  left:252px;
  top:103px;
  width:113px;
  height:16px;
}
#u167858 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u167859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:2px;
}
#u167859 {
  position:absolute;
  left:0px;
  top:67px;
  width:760px;
  height:1px;
}
#u167860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:133px;
}
#u167861 {
  position:absolute;
  left:455px;
  top:139px;
  width:131px;
  height:133px;
}
#u167862 {
  position:absolute;
  left:2px;
  top:58px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167863 {
  position:absolute;
  left:468px;
  top:103px;
  width:99px;
  height:16px;
}
#u167864 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u167865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u167865 {
  position:absolute;
  left:428px;
  top:288px;
  width:183px;
  height:71px;
  text-align:center;
}
#u167866 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
